<!DOCTYPE html>
<html  xmlns:th = "wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cars Checkout</title>
</head>
<body>
	<h2> Here's your Reservation Details</h2>
	<h3>This is not your receipt yet</h3>
	<br/>
	<h4>Your selected Car details:</h4>
<!-- <form action ="#" th:action="@{/select/confirmation}" th:object="${car}" method = "post">  -->	
	<table>
		<tr>
			<th>Year</th>
            <th>Car make</th>
            <th>Car model</th>
            <th>Fuel Type</th>
            <th>Transmission</th>
            <th>Price</th>
            <th></th>
		</tr>
			<tr th:each="Car :${Car}">
            	<td style="display:none;" th:name = "id" th:text="${Car.id}"></td>
            	<td th:text = "${Car.year}" th:name = "year"></td>
            	<td th:text = "${Car.make}" th:name = "make" ></td>
            	<td th:text = "${Car.model}"></td>
            	<td th:text = "${Car.fuel}" th:name = "fuel"></td>
            	<td th:text = "${Car.transmission}" th:name = "transmission"></td>            
            	<td th:text = "${Car.price}" th:name = "Price"></td>
                  		
			</tr>
	</table>
			
	<form action = "#" th:action = "@{/select/reservation_car}" th:object ="${Car}" method = "post">-->
			<input  type="hidden" th:name = "id" th:value="${Car.id}">
			<input type = "text" th:name = "email" th:value="${email}" />
			 <input type = "submit" value="Checkout" />
		
</form>
<!-- </form> -->
</body>
</html>